@font-face{
    font-family: Roboto-bold;
    src: url(/bbq-Kebab13/fonts/Roboto-Bold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
   
}

body{
    background-color: #ffff;
    
    
}




.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.Frame{
    width: 304px;
    height: 50px;
    margin: 20px 20px;

}

.number{
    font-family: Roboto-bold;
}

.text{
    text-align: center;
    font-size: 80.3px;
    line-height: 156.19px;
    font-weight: 700;
    color:#393939;
    font-family: Roboto-bold;
    
    
}

.text span{
    color: #16A036;
}

.navbar nav {
    background-image: url(/bbq-Kebab13/img/KebabBg.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 665px;
}
.navbar nav ul li:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#16A036;
    width: 200px;
    height: 40px;
    border-radius: 60px;
    color: #ffffff;
    
}







.navbar nav ul {  
    border-radius: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #ffff;
    width: 70%;
    height: 7%;
    margin: 0px auto;
}

.Kebab_Infermation{
    text-align: center;
}


.Kebab_Infermation h3{
    border-bottom: 1px solid rgba(22, 160, 54, 1);
    width: 55.4%;
    padding: 30px 0px;
    margin: 0px auto;
    
} 

.Kebab_Infermation p{
    width: 70.5%;
    margin: 20px auto;
    line-height: 24.19px;
    color:  rgba(94, 94, 94, 1);
    font-size: 16px;
    font-weight: 300px;

}

.Kebab_Infermation .lastp{
    border-bottom: 1px solid rgba(22, 160, 54, 1);
    width: 50.4%;
    padding-bottom: 30px;
}

.foodPriceSort{
    display: flex;
    margin-top: 10%;
    padding: 30px 0px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
}

.foodPriceSort{
    background-color:#16A036;
    width: 100%;
    height: fit-content;
    
}




.foodInfermation{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.foodInfermation .Infermation_1{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    width: 10px;
    height: 230px;
}

.foodcomposition{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 3px 0px;
}


.foodInfermation .Infermation_2{
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 230px;
}

.foodcomposition{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 3px 0px;
}

.compositiontitle{
    width: 300px;
    color: #313131;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.19px;

}




.food .KababName{
    margin: 0px 30px;
    margin-bottom: 30px;
}


.food .calori {
    margin: 0px 30px;
    margin-top: 30px;
}
.food{
    position: relative;
    background-color: #f5f5f5;
    height: fit-content

}


.drink-Conatiner{
    position: relative;
    padding: 6% 10%;
    background-color: #f5f5f5;
    height: 500px;
    text-align: center;
}

.drink-Conatiner h3{
    font-family: Roboto-bold;
    font-weight: 700;
    font-size: 30px;
    line-height: 45.35px;
}

.drink-Conatiner p{
    color: #5E5E5E;
 
}

.drink-Conatiner .drink{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}



.drink-Conatiner img{
    padding: 5% 0%;
    font-weight: 300;
    font-size: 16px;
    line-height: 24.19px;
}

.DeliveryInfermation{
    margin: 10% auto;
    text-align: center;
    width: 840px;
}

.DeliveryInfermation h3{
    font-family: Roboto-bold;
    border-bottom: 1px solid  #16A036;
    width: 630px;;
    margin: 5% auto;
    padding: 3% 0px;
}

.DeliveryInfermation p{
    color: #5E5E5E;

}


.delivery-section{
    display: flex;
    gap: 20%;
    justify-content:center;
    align-items: center;
}

.section_1{
   text-align: center;
}


.section_1 .imgborder{
    margin: 10px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 206px;
    height: 206px;
}

.section_1 p{
    width: 414px;
    margin: 10px auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 21.17px;
    color:#8D8D8D;
    
}

.map-content .map-img{
    position: relative;
    padding-top: 20%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

/* .downarrowbg{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
} */


.lastbg{
    background-color: #ffffff;
    position: relative;
    bottom: -50px;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer-content{
    background-color: #333333;
    padding: 5% 10%;
    padding-bottom: 10%;
}


.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    
}

.footer-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
}

.conatiner1 ul li{
    color: #ffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.17px;
}

.conatiner1 p{
    color: #B3B3B3;
    padding: 15px 0px;
}



.conatiner2 h3{
    color: #B3B3B3;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.17px;
    padding: 21px 0px;
}

.conatiner2 p{
    color: #ffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.17px;
    width: 410px;
}


.pricesMenu{
    display: flex;
    color: white;
    font-family: Roboto-bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 310px;
    right: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #16A036;
    border-radius: 50%;
    width: 82px;
    height: 82px;
}

.pricesMenuDrink{
    display: flex;
    color: white;
    font-family: Roboto-bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    left: 140px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #16A036;
    border-radius: 50%;
    padding: 1% 10px ;

}

.pricesMenuDrink2{
    display: flex;
    color: white;
    font-family: Roboto-bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    right:190px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #16A036;
    border-radius: 50%;
    padding: 1% 10px ;

}

.pricesMenuDrink3{
    display: flex;
    color: white;
    font-family: Roboto-bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    right: 460px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #16A036;
    border-radius: 50%;
    padding: 1% 10px ;

}
.pricesMenuDrink4{
    display: flex;
    color: white;
    font-family: Roboto-bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    left: 400px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #16A036;
    border-radius: 50%;
    padding: 1% 10px ;

}

.pricesMenuDrink5{
    display: flex;
    color: white;
    font-family: Roboto-bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    left: 650px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #16A036;
    border-radius: 50%;
    padding: 1% 10px ;

}

.pricesMenuDrink6{
    display: flex;
    color: white;
    font-family: Roboto-bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 380px;
    right: 700px;
    border: 5px solid rgb(255, 255, 255);
    background-color: #16A036;
    border-radius: 50%;
    padding: 1% 10px ;

}


