*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}


textarea{
    resize: none;
    width: 50vh;
    height: 10vh;
    padding: 10px 30px;
    outline: none;
}


input[type='text']{
    width: 50vh;
    height: 5vh;
    padding: 30px 30px;
    outline: none;
}


